html,
body {
  height: 100%;
}

.bg-default {
  background-color: #264653;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  text-align: center;
}

.space {
  margin-bottom: 30px;
}

.logo
{
  font-size: 26px;
  background: -webkit-linear-gradient(#e9c46a, #e76f51);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  margin-bottom: 15px;
  text-align: center;
}
